<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Shopkeeper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <p><a class="button" href="../">Index</a></p>
  <p><a class="button" href="../api/search/item?name={name}">Json</a></p>

  <p>
    <form method="get">
      <label for="name">Search item</label>
      <input name="name" type="text" value="{name}"/>
      <input type="submit" value="Search"/>
    </form>
  </p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Original Price</th>
        <th>Time</th>
        <th>Store</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
{{- for item in items }}
      <tr>
        <td>{item.name}</td>
        <td>{item.amount | float_formatter}</td>
        <td>{item.price | float_formatter}</td>
        <td>{item.original_price | float_formatter}</td>
        <td><a href="../purchase/{item.purchase_id}">{item.purchase_time | timestamp_formatter}</a></td>
        <td>{item.store}</td>
        <td>{item.location}</td>
      </tr>
{{- endfor }}
    </tbody>
  </table>
</body>
</html>
