<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Shopkeeper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <p><a class="button" href="../">Index</a></p>
  <p><a class="button" href="../api/purchase/{id}">Json</a></p>

  <p>Store: {store}</p>
  <p>Location: {location}</p>
  <p>Time: {purchase_time | timestamp_formatter}</p>
  <p>Total: {total | float_formatter}</p>
  <p>Attachments:</p>
  <ul>
{{- for attachment in attachments }}
    <li><a href="../attachment/{attachment.id}/{attachment.name}">{attachment.name}</a></li>
{{- endfor }}
  </ul>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Original Price</th>
      </tr>
    </thead>
    <tbody>
{{- for item in items }}
      <tr>
        <td>{item.name}</td>
        <td>{item.amount | float_formatter}</td>
        <td style="text-align: right;">{item.price | float_formatter}</td>
        <td style="text-align: right;">{item.original_price | float_formatter}</td>
      </tr>
{{- endfor }}
    </tbody>
  </table>
</body>
</html>
