<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Shopkeeper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./site.webmanifest">
  <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <p><a class="button" href="./">Index</a></p>
  <p><a class="button" href="./api/spending/monthly">Json</a></p>

  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
{{- for item in @root }}
      <tr>
        <td style="text-align: right;">{item.month.year}</td>
        <td style="text-align: center;">{item.month.month}</td>
        <td style="text-align: right;">{item.total | float_formatter}</td>
      </tr>
{{- endfor }}
    </tbody>
  </table>
</body>
</html>
